$font-size-base: 1.2rem;
$font-green: #3a5a40;
@import "bootstrap/scss/bootstrap";

body {
    background-color: #f7ede2;
    font-family: "Open Sans", sans-serif;
    color: $font-green;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $font-green;
    h1 {
        font-family: "Yeseva One", cursive;
        font-size: 5rem;
    }
    h2 {
        font-family: "Darker Grotesque", sans-serif;
        margin-left: 28.5rem;
        margin-top: -1rem;
        font-size: 2.5rem;
    }
    @media (max-width: 767px) {
        h1 {
            font-size: 2rem;
        }
        h2 {
            font-size: 1.5rem;

            margin-left: 9rem;
        }
        p{
            font-size:1rem;
        }
    }
}
.about {
    h1 {
        text-decoration: underline;
    }
    height: 80vh;
    p {
        padding-top: 20px;
    }
    .btn-outline-primary {
        color: $font-green;
        border-color: $font-green;
        border-radius: 0;
        &:hover {
            background-color: $font-green;
            color: #f7ede2;
        }
    }
    @media (max-width: 426px) {
        width: 90vw;
    }
}
.featured-works {
    object-fit: contain;
    img {
        width: 100%;
    }
    h2 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        @media (max-width: 769px) {
            font-size:1.5rem;
        }
    }
    a {
        text-decoration: none;
        color: $font-green;
        &:visited {
            text-decoration: none;
            color: $font-green;
        }
        &:hover {
            text-decoration: underline;
        }
        &:active {
            text-decoration: none;
        }
    }
}
